<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.diegoalejogm.enhueco">

	<application
			android:name="com.diegoalejogm.enhueco.Model.EHApplication"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme.NoActionBar">
		<activity android:name=".View.LoginActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".View.MainTabbedActivity"
				android:label="@string/title_activity_main_tabbed"
				android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity
				android:name=".View.ScheduleActivity"
				android:parentActivityName=".View.MainTabbedActivity"
				android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity
				android:name=".View.AddEditEventActivity"
				android:parentActivityName=".View.ScheduleActivity"
				android:theme="@style/AppTheme.NoActionBar"
				android:windowSoftInputMode="stateHidden">
		</activity>
		<activity
				android:name=".View.AddFriendSelectActivity"
				android:parentActivityName=".View.MainTabbedActivity">
		</activity>
		<activity
				android:name=".View.CaptureQRActivityAnyOrientation"
				android:screenOrientation="fullSensor"
				android:stateNotNeeded="true"
				android:theme="@style/zxing_CaptureTheme"
				android:windowSoftInputMode="stateAlwaysHidden">
		</activity>
		<activity
				android:name=".View.ShowQRActivity"
				android:theme="@style/AppTheme.NoActionBar">
		</activity>
	</application>

</manifest>
